<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="DemoProject">

<listeners>
<listner class-name="test.project.demo.utility.Reporting" />
</listeners>

	<test name="DemoProject Test">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="test.project.demo.tests.classes.SignUpTest" />
			<class name="test.project.demo.tests.classes.SignInTest" />
			<class name="test.project.demo.tests.classes.ArticleTest" />
		</classes>

	</test>

</suite>